@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
  
  ol,
  ul, 
  li {
    list-style: none;
  }
  
  html {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* body {
      background: rgba(22, 22, 22, 0.884);      
  } */


 /*=================================================
 
 ===================================================*/
.bookingHalf{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .navheader {
    display: flex;
    align-items: center;
    justify-content: center;
    background: brown;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
   
} */

.mainBody {

    width: 50vw;
    height: 40vh;
    margin-top: 5rem;
    margin: 3rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    background: rgba(230, 230, 233, 0.705);
    border-radius: 20px;
  
}


/* .footer {
    font-size: 1.5rem;
    position: fixed;
    left: 6%;
} */